 img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.header img {
    width: 12rem;
    height: 100px;
    object-fit: cover;
    margin-left: 1rem;

}
.header {
    display: flex;
   align-items: center;
   height: 10rem;
}

.header-left {
    
    width: 65%;
}

.header-right {
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    
}

.header-right button {
  width: 8rem;
  height: 2rem;
  border-radius: 5px;
  border: solid 1px #2DB0BA;
  color: #2DB0BA;
  background-color: white;
  cursor: pointer;
}

.sale-button button {
    background-color: #2DB0BA;
    color: white;
}

.background-home {
    
    height: 450px;
    width: 100%;
    position: relative;
}

.background-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-center {
    display: flex;
    flex-wrap: wrap;
    
}

.global-home {
    display: flex;
    flex-wrap: wrap;
}

.home-card {
    
    background-color:#2DB0BA;
    width: 15rem;
    height: 25rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 2.4rem;
    margin-top: 3rem;
    overflow: hidden;
}

.home-card h2 {
    font-size: 20px; 
}


.home-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:#2DB0BA;
    height: 100vh;
  
}

.signup-form h1 {
    color: white;
}

.signup-form input {
    margin-top: 25px;
    height: 2rem;
    width: 25%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:#2DB0BA;
    height: 100vh;
}

.login-form h1 {
    color: white;
}

.login-form input {
    margin-top: 25px;
    height: 2rem;
    width: 25%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.publish-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: #EAEDEE;
    
}

.publish-input input {
    margin-top: 2rem;
    width: 50rem;
    height: 2rem;
    border: none;
   
    
}

.publish-input textarea {
    width: 50rem;
    margin-top: 2rem;
    border: none;
   
    
}

.publish-input button {
    margin-top: 2rem;
    width: 10rem;
    height: 2rem;
    margin-bottom: 2rem;
    background-color: #2DB0BA;
    color: white;
    border: none;
    cursor: pointer;
    

}

.offer-main {
    background-color: #EAEDEE;
    height: 100vh;
    display: flex;
    
}

.offer-left {
    margin-top: 3rem;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.offer-left button {
    width: 8rem;
    height: 1.7rem;
    text-decoration: none;
    background-color: #2DB0BA;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}

.offer-left-card {
    background-color:lightgray;
    width: 25rem;
    height: 26rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.offer-left button a {
    text-decoration: none;
    color: white;
}

.offer-right {
   margin-top: 3rem;
    width: 50%;
    display: flex;
    justify-content: center;
}

.offer-right img {
    width: 50%;
    height: 26rem;
    border-radius: 10px;
    object-fit: cover;
}


.payment-card {
 display: flex;
 flex-direction: column;
 background-color: lightgray;
 width: 30rem;
 height: 20rem;
 border-radius: 5px;
 padding: 10px;
 text-align: center;
 justify-content: center;
 margin-top: 3rem;
}

.payment-main {
    display: flex;
    justify-content: center;
    
    background-color : #EAEDEE;
    height: 100vh;
}

.payment-main input {
    width: 8rem;
    margin-top: 2rem;
    height: 1.7rem;
    border: none;
    background-color: #01BB6A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.span-top {
    margin-top: 2rem;
}

.span-bottom {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.modal-card {
   
    width: 18rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:  absolute;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    top: 95px;
    left: 50px;
}

.modal-card h1 {
    font-size: 32px;
    font-weight: 400;
}

.modal-card button {
 width: 10rem;
 height: 3rem;
 background-color: #2DB0BA;
 color: white;
 border: none;
 border-radius: 5px;
 margin-top: 2rem;
 cursor: pointer;
}

@media (max-width: 1024px) {
    .header-right button {
        width: 7rem;
        font-size: 12px;
    }

    .global-home {
        justify-content: space-evenly;
        
    }

    .home-card {
        margin-left: 0;
    }

    .offer-left-card {
        height: 22rem;
    }

    .offer-right img {
        height: 22rem;
    }
}

@media (max-width: 768px) {
    .header-right button {
        width: 5rem;
        font-size: 11px;
    }

    .modal-card {
        width: 15rem;
        height: 13rem;
    }

    .modal-card h1 {
        font-size: 28px;
    }

    .publish-input input {
     width: 28rem;
    }

    .publish-input textarea {
        width: 28rem;
    }

    .offer-left-card {
        width: 20rem;
        height: 20rem;
    }

    .offer-right img {
        height: 20rem;
    }

   
}

@media (max-width: 425px) {
   .header img {
    width: 8rem;
    height: 74px;
   }

   .header-left {
    width: 40%;
   }

   .header-right {
    width: 50%;
   }

   .header-right button {
    width: 5rem;
    margin-left: 4px
    
   }

   .modal-card {
    width: 10rem;
    height: 11rem;
    left: 30px
   }

   .modal-card h1 {
    font-size: 18px;
   }

   .home-card {
    width: 12rem;
    height: 18rem;
   }

   .login-form input {
    width: 15rem;
   }

   .signup-form input {
    width: 15rem;
   }

   .publish-input input {
    width: 18rem;
   }

   .publish-input textarea {
    width: 18rem;
   }

   .offer-left-card {
    font-size: 12px;
   }

   .offer-right img {
    width: 12rem;
   }

}


