*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maison Neue";
    text-decoration: none;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: lightblue;
  
}

.signup-form input {
    margin-top: 25px;
    height: 2rem;
    width: 25%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

